@use '../../../../assets/styles/constants.scss' as *;

.page {
  border: 1px solid red;

  .title {
    font-weight: 700;
    font-size: 32px;

    margin: 24px 0;
  }

  .balance {
    font-weight: 700;
    font-size: 24px;
    color: $color__grey__60;

    &__value {
      font-weight: 500;
      font-size: 20px;
      color: $color__black;
    }
  }

  .action {
    border: 5px solid red;
  }

  .list {
    border: 5px solid green;
    list-style-type: none;

    &__item {
      border: 1px solid black;
      margin-bottom: 24px;

      .values {
        margin-bottom: 12px;
      }

      span {
        margin-right: 8px;
      }
    }
  }
}
