@use '../../assets/styles/constants.scss' as *;

.wrapper {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $color__red;
}

.page {
  height: 90vh;
  width: 90vh;

  border: 1px solid;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabs__item {
  width: 50%;
  height: 40px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid;

  background: green;
  color: #000;
  text-decoration: none;
}

.tabs__item_selected {
  background: red;
  color: white;
}

.content {
  padding: 16px;

  border: 1px solid blue;
}
