.calculator {
  display: flex;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.arrows__wrapper {
  display: flex;
  align-items: center;
  padding: 0px 50px;
}

.arrows__button {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 100px;
}

.arrows__img {
  width: 41px;
  height: 35px;
}

.arrows__img:hover {
  -webkit-animation: spin 0.5s linear;
  -moz-animation: spin 0.5s linear;
  animation: spin 0.5s linear;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
